--- name:content pipeline:blocks
<webgen:block name='content' />

--- name:leftbar 
<div class="nav3">
  <ul><li class="title">Changelog</li>
      {menu: {start_level: 2, max_levels: 4, used_nodes: files, range_start: 0, range_end: 1000}}
  </ul>
</div>

