--- name:content pipeline:blocks
<webgen:block name='content' />

--- name:leftbar 
<div class="nav3">
  <ul><li class="title">News</li>
      {menu: {start_level: 2, max_levels: 4, used_nodes: files, range_start: 1000}}
  </ul>
</div>

--- name:sidebar pipeline:tags
<h1>News Feed</h1>
<p>
  <a href="{relocatable: news.atom}"><img src="{relocatable: /images/feed.gif}" alt='feed icon' />&nbsp;Subscribe to webgen's news feed</a>
</p>
