---
layout: default
---
<script>
$("ul.webgen li").click(function(){

    $("ul.webgen li").removeClass("active");
    $(this).addClass("active");

});
</script>
<section class="hero">
    <div class="leftnav">
        <div class="nav3">
            {% for item in site.data.toc.toc %}
            <div class="title">{{ item.chapter}}</div>
            <ul class="webgen">
                {% for s in item.sections %}
                    {% if page.section == s.section %}
                    <li class="webgen-menu-level1 webgen-menu-submenu
                    webgen-menu-submenu-inhierarchy"><a href={{ s.page }}>{{ s.section }}</a>
                    <ul>
                        {% for ss in s.subsections %}
                            {% if ss.subsubsections %}
                              <li class="webgen-menu-level2
                                  webgen-menu-submenu
                                  webgen-menu-submenu-inhierarchy"><a href={{
                                  ss.page }}>{{ ss.subsection }}</a></li>
                              {% if page.subsection == ss.subsection %}
                                  {% for sss in ss.subsubsections %}
                                        {% if page.title == sss.subsubsection %}
                                            <li class="webgen-menu-level3 webgen-menu-item-selected"><span>{{ sss.subsubsection }}</span></li>
                                        {% else %}
                                            <li class="webgen-menu-level3 webgen-menu-submenu"><a href={{ sss.page }}>{{ sss.subsubsection }}</a>
                                        {% endif %}
                                  {% endfor %}
                              {% endif %}
                            {% else %}
                                {% if page.title == ss.subsection %}
                                   <li class="webgen-menu-level2
                                       webgen-menu-item-selected"><span>
                                           {{ ss.subsection }}</span></li>
                                {% else %}
                                  <li class="webgen-menu-level2 webgen-menu-submenu"><a
                                      href={{ ss.page }}>{{ ss.subsection }}</a>
                                  </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                        <li class="webgen-menu-level1 webgen-menu-submenu "><a
                            href={{ s.page }}>{{ s.section }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</section>
<div class="content2">
    <div class="content2-pagetitle">{{ page.title }}</div>
<div class="content2-container line-box">
<div class="content2-container-1col">

{{ content }}

</div>
</div>
</div>
