<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!-- Recommended XHTML-Editor: HTML-Kit 292 (Freeware) -->
<!-- http://www.chami.com/html-kit/download/ -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Your description goes here" />
  <meta name="keywords" content="your,keywords,come,here" />
  <meta name="author" content="Your Name or Company / Template design: G. Wolfgang / June 8, 2006 / Email: gw@actamail.com / Check my favorite website: www.sda.org" />
<!--  <link rel="stylesheet" type="text/css" media="screen,projection" href="" />-->
<!--  <link rel="stylesheet" type="text/css" media="print" href="css/style_print.css" />-->
   <title>The Robot Construction Kit</title>
</head>

<body>
  <div class="page-container-2">
      <div class="nav2">			
          <ul>
              <li>{breadcrumb_trail: { separator: '' }}</li>
              <webgen:block name="navbar" notfound="ignore"/>
          </ul>
      </div>
    
      <div class="buffer"></div>
      <div class="nav3">
          {menu: {max_levels: 2, show_current_subtree_only: true, nested: true, used_nodes: files}}
      </div>				

      <div class="content2">
          <div class="content2-pagetitle">{title: }</div>			
          <div class="content2-container line-box">
              <div class="content2-container-1col">
                  <% if context.node.node_info[:page].blocks.has_key?('localtoc') %>
                  <div markdown="1" class="localtoc">
                      <webgen:block name="localtoc" />
                  </div>
                  <% end %>
                  <% if context.node.node_info[:page].blocks.has_key?('biglocaltoc') %>
                  <div markdown="1" class="biglocaltoc localtoc">
                      <webgen:block name="biglocaltoc" />
                  </div>
                  <% end %>
                  <webgen:block name="content" />
              </div>
          </div>
      </div>

      <!-- FOOTER -->
      <div class="footer">
          <p><b>Copyright &copy; 2010 DFKI Robotics Innovation Center and contributors | All Rights Reserved</b></p>
          <p>Design <a href="mailto:gw@actamail.com">G. Wolfgang</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate code as W3C XHTML 1.1 Strict Compliant">W3C XHTML 1.0</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate Style Sheet as W3C CSS 2.0 Compliant">W3C CSS 2.0</a></p>
      </div>
  </div>
</body>
</html>

<!--
vim:set ts=2:
-->

