<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!-- Recommended XHTML-Editor: HTML-Kit 292 (Freeware) -->
<!-- http://www.chami.com/html-kit/download/ -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="The Robot Construction Kit - a robot software development environment" />
  <meta name="keywords" content="robotics,toolchain,components,field robotics,underwater robotics" />
  <meta name="author" content="The Rock core team" />
  <meta name="google-site-verification" content="xipSGJiBKGluvNX8Y3Wr4zVMDSDJz5HIutUhfQSmXl8" />
<!--  <link rel="stylesheet" type="text/css" media="screen,projection" href="" />-->
<!--  <link rel="stylesheet" type="text/css" media="print" href="css/style_print.css" />-->
   <title>The Robot Construction Kit</title>
</head>

<% # Get the root for this node %>
<% root_page = context.node %>
<% page_is_root = (root_page.parent == root_page.tree.root) %>
<% if root_page.parent != root_page.tree.root %>
<%   while root_page.parent != root_page.tree.root %>
<%     root_page = root_page.parent %>
<%   end %>
<% end %>

<body>
  <div class="page-container-2">
      <div class="nav1-container">
          <div class="nav1">
              <webgen:block name="navbar" notfound="ignore"/>
              <ul>
                  <li><a href="{relocatable: /documentation/installation.html}">Installation</a></li>
                  <li><%= context.node.link_to(context.node.resolve('/documentation'), :link_text => 'Documentation') %></li>
                  <li><%= context.node.link_to(context.node.resolve('/package_directory/index.html'), :link_text => 'Browse Packages') %></li>
                  <li><a href="{relocatable: /news}">News</a></li>
                  <li><a href="{relocatable: /documentation/about/contributing.html}">Community</a></li>
              </ul>
          </div>
      </div>

      <div class="site-name" onclick="location.href='{relocatable: /}';" style="cursor: pointer;">
          <p class="title">Rock</p>
          <p class="subtitle">the Robot Construction Kit</p>
      </div>

      <div class="buffer"></div>

      <div class="nav2">			
          <ul>
              <li>{breadcrumb_trail: { separator: '' }}</li>
          </ul>
      </div>
    
      <div class="buffer"></div>

      <div class="leftnav">
          <% if !page_is_root %>
          <div class="nav3">
              <ul><li class="title"><%= root_page['title'] %></li>
                  {menu: {start_level: 2, max_levels: 4, show_current_subtree_only: true, nested: true, used_nodes: files, range_end: 999}}
              </ul>
              <ul><li class="title">Additional Core Functionality</li>
                  {menu: {start_level: 2, max_levels: 4, show_current_subtree_only: true, nested: true, used_nodes: files, range_start: 1000}}
              </ul>
          </div>
          <% end %>
      </div>

      <div class="content2" <% if page_is_root %>style="margin-left: 110px;"<% end %>>
          <% if context.node.node_info[:page].meta_info.has_key?('page_title') %>
          <div class="content2-pagetitle"><%= context.node.node_info[:page].meta_info['page_title'] %></div>
          <% else %>
          <div class="content2-pagetitle">{title: }</div>
          <% end %>
          <div class="content2-container line-box">
              <div class="content2-container-1col">
                  <% if false %>
                  <% if context.node.node_info[:page].blocks.has_key?('localtoc') %>
                  <div markdown="1" class="localtoc">
                      <webgen:block name="localtoc" />
                  </div>
                  <% end %>
                  <% if context.node.node_info[:page].blocks.has_key?('biglocaltoc') %>
                  <div markdown="1" class="biglocaltoc localtoc">
                      <webgen:block name="biglocaltoc" />
                  </div>
                  <% end %>
                  <% end %>
                  <webgen:block name="content" />
              </div>
          </div>
      </div>

      <!-- FOOTER -->
      <div class="footer">
          <div class="nav1">
              <ul>
                  <li><a href="{relocatable: documentation/about/index.html}">About Rock</a></li>
              </ul>
          </div>
      </div>
  </div>
</body>
</html>

<!--
vim:set ts=2:
-->

